<div class="cart-wrap">
    <div class="top-row">
        <div class="conteiner">
            <div class="siders">
                <div class="item">
                    <div class="com">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="com">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-part"></div>
</div>