<div class="catalog-sloder" style="background-image: url(images/catalog-bg.jpg);">
    <div class="contein">
        <div class="title-part">
            <h2>Coats&Jackets</h2>
        </div>
        <div class="content-slider">
            <div class="list-items">
                <div class="item">
                    <a href="/single.html" class="conteiner">
                        <div class="topper">
                            <div class="name">Princess Pink coat</div>
                            <div class="sale">Sale</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/single-item.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/single.html" class="conteiner">
                        <div class="topper">
                            <div class="name">Princess Pink coat</div>
                            <div class="sale">Sale</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/single-item.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/single.html" class="conteiner">
                        <div class="topper">
                            <div class="name">Princess Pink coat</div>
                            <div class="sale">Sale</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/single-item.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/single.html" class="conteiner">
                        <div class="topper">
                            <div class="name">Princess Pink coat</div>
                            <div class="sale">Sale</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/single-item.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/single.html" class="conteiner">
                        <div class="topper">
                            <div class="name">Princess Pink coat</div>
                            <div class="sale">Sale</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/single-item.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="/single.html" class="conteiner">
                        <div class="topper">
                            <div class="name">Princess Pink coat</div>
                            <div class="sale">Sale</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/single-item.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>