<div class="chat-but">
    <div class="num">25</div>
    <div class="texter">People in the mall</div>
    <div class="con">
        <img src="images/manager.png" alt="">
        <div class="status in"></div>
    </div>
</div>

<div class="list-chats">
    <div class="conteiner">
        <div class="list-user">
            <div class="conteiner-list">
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">rivki Lev</div>
                    <div class="status in"></div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/manager.png" alt="">
                    </div>                
                    <div class="name">Bat El Halevi</div>
                    <div class="status off"></div>                
                </div>
                <div class="item empty">                                   
                    <div class="name" >No results </div>            
                </div>
            </div>

        </div>
        <div class="search-part">
            <div class="inputer">
                <input type="text">
            </div>
            <div class="con">
                <img src="images/search-ico.png" alt="">
            </div>            
        </div>
    </div>
</div>