<!-- FOOTER -->
<footer class="footer">

</footer>
<!-- FOOTER -->


<!-- SCRIPTS -->
<script src="js/plagins/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

<script type="text/javascript" src="js/plagins/select2.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/plagins/three.min.js" ></script>
<script type="text/javascript" src="js/plagins/panolens.min.js" ></script>

<script type="text/javascript" src="js/plagins/threesixty.min.js" ></script>
<script type="text/javascript" src="js/plagins/nouislider.min.js" ></script>



<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/main.js" ></script>
<script type="text/javascript" src="js/develop/custom.js" ></script>
<script type="text/javascript" src="js/develop/mag.js" ></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ5mAHLghYaiReyWXYGIKmm6LfLyRXSu0&callback=initialize"></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
