<div class="single-part" style="background-image: url(images/catalog-bg.jpg);">
    <div class="contein">
        <div class="siders">
            <div class="list-items">
                <div class="slider-vertical">
                    <div class="row">
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>
                        <div class="item">
                            <div class="title-part">
                                <div class="name"> Princess Coat </div>
                                <div class="produce">
                                    <img src="images/small-logo.png" alt="">
                                </div>
                            </div>
                            <div class="con">
                                <div class="deleter"></div>
                                <div class="checker">
                                    <label>
                                        <input type="checkbox" name="name1">
                                        <div class="beutify"></div>
                                    </label>
                                </div>
                                <div class="covered-butt">
                                    <span>TRY ME</span>
                                </div>
                                <div class="boter"></div>
                                <img src="images/single-item.jpg" alt="">
                            </div>                            
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="text-part">
                <div class="texter">
                    <h2>Let’s Combine!</h2>
                    <br/>
                    <p>The Fitting Room is the place for you. Now you can can see at a glance all of your collected items. </p>
                    <p>Enjoy trying on all your selections in the comfort of your home or anywhere else and see how they look on you and how they work together.</p>
                </div>
            </div>
            <div class="veiwer">
                <div id="threesixty"></div>
                <div class="slider">
                    <div id="nouislider"></div>
                    <div class="court">
                        <div class="con">0</div>
                        <div class="con">
                            <img src="images/round-ico.png" alt="">
                        </div>
                        <div class="con">360</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>