<div class="shops-wrap" style="background-image: url(images/catalog-bg.jpg);">
    <div class="contein">
        <div class="title-part">
            <div class="search-part">
                <div class="inputer">
                    <input type="text" placeholder="What do you looking for?">
                </div>
            </div>
            <ul class="tabs">
                <li class="active"><a href="item">All</a></li>
                <li><a href="malls">Malls</a></li>
                <li><a href="stores">Stores</a></li>
                <li><a href="products">Products</a></li>
            </ul>
        </div>
        <div class="content-slider">
            <div class="list-items">
                <div class="item products">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place1.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item stores" >
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place2.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item malls">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place3.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item stores">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place1.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item malls">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place2.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item products">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place3.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item products">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place1.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item stores" >
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place2.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item malls">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place3.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item stores">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place1.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item malls">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place2.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
                <div class="item products">
                    <a href="/" class="conteiner">
                        <div class="topper">
                            <div class="name">Malcha Mall, Jerusal</div>
                        </div>
                        <div class="center">
                            <div class="con">
                                <img src="images/place3.jpg" alt="">
                            </div>
                        </div>
                        <div class="botter">
                            <div class="price">252525</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>