<div class="single-part" style="background-image: url(images/catalog-bg.jpg);">
    <div class="contein">
        <div class="siders">
            <div class="description">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Malcha Mall </a></li>
                        <li><a href="#">URBANICA </a></li>
                        <li><span>Coats&Jackets</span></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="sides">
                        <ul class="image-list">
                            <li class="active"><img src="images/single-item.jpg" alt=""></li>
                            <li><img src="images/single-item.jpg" alt=""></li>
                            <li><img src="images/single-item.jpg" alt=""></li>
                            <li><img src="images/single-item.jpg" alt=""></li>
                        </ul>
                        <div class="contein-des">
                            <div class="name">
                                <h1>Princess Coat</h1>
                            </div>
                            <div class="bottom-part">
                                <div class="colors">
                                    <div class="name">Color:</div>
                                    <ul class="list-colors">
                                        <li class="active">
                                            <div class="con" style="background-color: #d8b9af;"></div>
                                        </li>
                                        <li>
                                            <div class="con" style="background-color: #d8d8d8;"></div>
                                        </li>
                                        <li>
                                            <div class="con" style="background-color: #939090;"></div>
                                        </li>
                                        <li>
                                            <div class="con" style="background-color: #b5a876;"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="quantity">
                                    <div class="name">Quantity:</div>
                                    <div class="sel">
                                        <select name="" id="">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="bye-block">
                                    <a href="#" class="bye-now">
                                        <span>Buy Now</span>
                                    </a>
                                    <a href="#" class="add-to-cart">
                                        <img src="images/cart-white-ico.png" alt="">
                                        <span>Add to Cart</span>
                                    </a>    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="deskription">
                    <div class="texter">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.:</p>
                    </div>
                </div>
            </div>
            <div class="veiwer">
                <div id="threesixty"></div>
                <div class="slider">
                    <div id="nouislider"></div>
                    <div class="court">
                        <div class="con">0</div>
                        <div class="con">
                            <img src="images/round-ico.png" alt="">
                        </div>
                        <div class="con">360</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>